.table-view .column-header-background .label{
    -fx-background-color: #F5FFFA	;
    -fx-text-fill: #F5FFFA;
    -fx-font-size: 18pt;
}

.table-view .table-cell{
    -fx-text-fill: #0000CD;
    -fx-font-size: 14pt;
}
.button{
	-fx-border-color: #778899;
	-fx-border-width: 2px;
	-fx-background-color: 	#ADD8E6;
	-fx-background-radius: 20.0;
	-fx-border-radius: 20.0;
}

.label .text{
	-fx-fill: 	#006400	;
	
}

.button .text{
	-fx-fill: 	#006400;

}

.combo-box  .text{
	-fx-font-family:centaur;
	-fx-font-size: 18pt;
}

